<div class="block-content about block-content text-left p-sm-5 p-xs-2">
  <h2>About Litas</h2>
  <hr>
  <p>
    &#x25BB; <b>Litas</b> is a peer-to-peer Internet currency that enables instant, near-zero cost payments to anyone in the world.
  </p>
  <p>
    &#x25BB; <b>Litas</b> is an open source, global payment network that is fully decentralized without any central authorities.
  </p>
  <p>
    &#x25BB; Mathematics secures the network and empowers individuals to control their own finances.
  </p>
  <p>
    &#x25BB; <b>Litas</b> features faster transaction confirmation times and improved storage efficiency than the leading math-based currency.
  </p>
</div>