 <div class="block-content block-content text-center">
    <div class="upper">
      <img class="img-responsive" style="height: 110px;" src="https://i.imgur.com/vRbIqI7.png" alt="">
      <h1 class="font-weight-bold mt-2">Welcome to Litas</h1>
      <br>
      <p>Changing the world block by block</p>

    </div>
    <div class="bottom social-links d-flex justify-content-center p-3">
      <a href="https://github.com/Litas-dev">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      </a>
      <!--<a href="#">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-bitcoin fa-2x" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-slack fa-2x" aria-hidden="true"></i>
      </a>-->
    </div>
</div>
